<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Naturvida.Properties.Settings.DB_NaturvidaConnectionString"
            connectionString="Data Source=DESKTOP-E5H12BO;Initial Catalog=DB_Naturvida;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Naturvida.Properties.Settings.BD_NaturVidaConnectionString"
            connectionString="Data Source=DESKTOP-E5H12BO;Initial Catalog=BD_NaturVida;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>